In [0]:
!nvidia-smi

Tue Dec  3 13:54:03 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   49C    P8    29W / 149W |      0MiB / 11441MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
link = 'https://drive.google.com/open?id=1H1rKEThhq0Yf6UgjW9b1t6VmE53moe6M'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1H1rKEThhq0Yf6UgjW9b1t6VmE53moe6M

In [0]:
import pandas as pd
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
df3 = pd.read_csv('Filename.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (18,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df = df3[df3['Violation County']=='NY']

In [0]:
df ['address'] = df['House Number'] +' ' + df['Street Name']+ ' NYC'
# df.to_csv('/content/nycounty.csv')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
street = df.groupby(['Street Name'])['Street Name'].count().sort_values(ascending =False)[:10]

In [0]:
street

Street Name
Broadway           154482
3rd Ave            133682
Madison Ave         98845
Lexington Ave       79050
2nd Ave             76154
1st Ave             71917
Amsterdam Ave       51724
8th Ave             50602
6th Ave             50275
5th Ave             50041
7th Ave             47287
Columbus Ave        38898
9th Ave             30009
Park Ave            25787
St Nicholas Ave     23465
York Ave            22708
W 39th St           22008
W 35th St           20856
W 38th St           20273
W 43rd St           18678
W 37th St           18215
W 46th St           17279
W 40th St           16935
W 58th St           16700
Church St           16290
Greenwich St        15838
10th Ave            15224
W 45th St           14418
W 47th St           13744
Pearl St            13724
Name: Street Name, dtype: int64

In [0]:
df['year'] = pd.to_datetime(df['Issue Date']).dt.year

In [0]:
df=df[df['year']==2017]

In [0]:
brand = df.groupby(['Vehicle Make'])['Vehicle Make'].count().sort_values(ascending =False)[50:60]
brand

Vehicle Make
SAAB     1213
TESLA    1172
MCI      1034
SCION     939
SUZUK     901
PREVO     784
KAWAS     695
HARLE     549
YAMAH     518
MASE      504
Name: Vehicle Make, dtype: int64

In [0]:
dfcarporsc = df[df['Vehicle Make']=='PORSC']
dfcarmart = df[df['Vehicle Make']=='SMART']

In [0]:
porloc = dfcarporsc.groupby(['Street Name'])['Street Name'].count().sort_values(ascending =False)[:10]

In [0]:
smartloc = dfcarmart.groupby(['Street Name'])['Street Name'].count().sort_values(ascending =False)[:10]

In [0]:
dfcartesla = df[df['Vehicle Make']=='TESLA']
teslaloc = dfcartesla.groupby(['Street Name'])['Street Name'].count().sort_values(ascending =False)[:10]
teslaloc

Street Name
Broadway         130
3rd Ave           82
1st Ave           72
Water St          47
Madison Ave       43
Lexington Ave     41
Amsterdam Ave     37
E 64th St         31
Church St         28
Forsyth St        28
Name: Street Name, dtype: int64

In [0]:

#used this block to produce csv for processing with https://geoservices.tamu.edu/default.aspx
#ran twice to get 2500 each 
df22 = pd.DataFrame(df['address'].iloc[5001:7500])
df22 = df22.dropna(how = 'any')
df22['city'] = 'New York City'
df22['State'] = 'NY'
df22['zipcode'] = ''
df22.to_csv('ny3.csv')
df22

                     address           city State zipcode
15783        842 6th Ave NYC  New York City    NY
15786       613 E 6th St NYC  New York City    NY
15790       26 E 14th St NYC  New York City    NY
15792       02 W 58th St NYC  New York City    NY
15795       61 E 11th St NYC  New York City    NY
...                      ...            ...   ...     ...
23479  279 Amsterdam Ave NYC  New York City    NY
23490        655 6th Ave NYC  New York City    NY
23491   1064 Madison Ave NYC  New York City    NY
23493        79 Avenue A NYC  New York City    NY
23497       188 Grand St NYC  New York City    NY

[2451 rows x 4 columns]